<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>

    <% @messages.each_with_index do |msg,index| %>
    
    <div>
      <h1>Message <%= index + 1%></h1>
      From: <%= msg.sender %>     <br>
      To: <%= msg.receiver %>     <br>
      Message: <%= msg.content %> <br>
    </div>

    <% end %>
    <br>
    <a href="/reset"><b>DELETE ALL MESSAGES</b></a>
  </body>
</html>
